---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>°°°°°°°°°Holaaaa°°°°°°°°°</h1>
			<p>
				Bienvenidos a este espacio personal, mi nombre es César Carrillo Martínez.
				Actualmente tengo 25 años, soy ingeniero geofísico de profesión por la Facultad de Ingeniería (UNAM), tengo un interés por la sísmica de refracción y la innovación de los métodos.
				Curso la maestría en Modelación y Optimización de Operaciones por CIMAT. Actualmente resido en Aguascalientes.
				
			</p>
			<p>
				En este proyecto personal lo que busco es abrir un espacio a la inmensa cantidad de contenido que se encuentra en la internet hoy en día.
				No pretendo que sea un espacio visitado por millones porque siendo sinceros hoy en día quién se mete a un sitio solo porque necesita algo, tenemos respuestas instantáneas así como vídeos de corta duración 
				y con un nivel mayor de calidad en la comunicación; sin embargo creo que hay un espacio para cada persona en el mundo con lo cual mientras las personas que se adentren en este sitio les deseo que encuentren algo 
				que les sirva así como de calidad.

			</p>

			<p>
				Llevo un diario hace 5 años en el cual hay una cantidad de palabras es ideas muy grande, es por ello que quiero exponer algunas de ellas al usuario que entre a este lugar del ciberespacio.
				De la misma manera tengo fotografías, algunas de ellas están en un instagram que ya no uso, considero que son fotos bellas así como tener un contexto de las mismas, es por ello que se encuentran de forma presente.
				Hay música para la gente que está dispuesta a explorar algo nuevo, algunas serán buenas, algunas otras malas pero escuchar una canción nueva día a día me parece algo que cura el alma ante la repetición.
				Hay recomendación de libros, entre otras cosas que iré construyendo poco a poco.



			</p>


			<p>Aquí hay un par de cosas que puedes encontrar aquí: </p>
			<ul>
				<li> Notas mentales que plasmo en papel antes de llegar a este espacio
				<li>Fotografía de paisaje principalmente
				<li>Reseñas de libros
				<li>Fútbol 
				<li>Modelos e ideas de proyectos libres para todo el mundo
				<li> Apertura a la colaboración 
			</ul>
			<p>
				Espero encuentres esto como un espacio divertido, de reflexión y sobre todo gracias por darte el tiempo, en caso de necesitar contacto dejo mi correo: 
			<p>
				cesar.carrillo@cimat.mx</p>
				
				o en cualquiera de los perfiles de usuario que se encuentran en la parte superior derecha de la página.
			</p>
			
		</main>
		<Footer />
	</body>
</html>
